@model List<ServiceVM>

@{
    ViewData["Title"] = "Services";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-semibold">Services</h2>
        <a href="/Service/New"  class="btn btn-success px-3">New Service</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th style="width: 180px;"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <td>
                    <a href="/Service/Edit/@item.ServiceId" class="btn btn-primary btn-sm me-1">Edit</a>
                    <a  class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>